.header {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    text-align: center;
}

.login-background{
    background: url("../../../public/background2.png");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.LoginContainer {
    top: 15%;
    background-color: rgba(255, 255, 250, 0.816);
    position: absolute;
    left: 50%;
    margin: 20px;
    transform: translate(-50%, 0);
    width: 40%;
    border: 2px solid green;
    border-radius: 7px 7px 7px 7px;
    padding: 60px;
    backdrop-filter: blur(7px);
}

.LogCheck {
    width: 25px;
    height: 25px;
    visibility: hidden;
}

.LogCheck>svg {
    color: #1cd628;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.LogSubmitError {
    position: absolute;
    width: 25px;
    height: 25px;
    visibility: hidden;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
}

.LogSubmitError>svg {
    color: rgb(255, 217, 217);
    width: 25px;
    height: 25px;
    position: relative;
    /* left: 50%; */
    /* transform: translate(-50%, 0); */
}

.LogSubmitErrorMessage {
    background-color: #ff0d002e;
    padding: 3px;
    color: rgb(170, 9, 9);
    width: 400px;
    display: block;
    position: relative;
    text-align: center;
    visibility: hidden;
    margin-top: 2px;
    font-weight: 500;
    border-radius: 4px;
}


.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
    box-shadow: none;
}

.form-contol:focus,
.form-contol:active:focus,
.form-contol.active:focus,
.form-contol.focus,
.form-contol:active.focus,
.form-contol.active.focus {
    outline: none;
}

.form-control {
    border: 1px dashed green;
}

.form-control:hover {
    border: 2px solid green;
}

.form-control:focus+.input-label {
    color: green;
}

.form-control:focus {
    box-shadow: none !important;
    outline: none !important;
    border: 2px solid green;
    background-color: rgba(255, 255, 255, 0.711);
}

.inputError{
    color: red;
    position: relative;
    visibility: hidden;
}

#LoginPwInput {
    width: 100%;
}

.password-fields {
    display: flex;
    flex-direction: row;
}

#LoginSubmitBtn {
    position: relative;
    width: 100px;
    align-items: center;
    justify-content: center;
}

#cancelBtn {
    margin-left: 20px;
    visibility: hidden;
}

.error {
    color: red !important;
    border: 2px solid red !important;
    background: rgba(255, 0, 0, 0.1) !important;
}
.correct {
    color: green;
    border: 2px solid green !important;
    background-color: rgba(0, 128, 0, 0.1);
}
/*LOADING*/

.LoginText {
    position: absolute;
    visibility: visible;
    left: 50%;
    transform: translate(-50%, 0);
}

.LoginLoaderContainer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    visibility: hidden;
    z-index: 99;
}

.LoginLoader {
    position: relative;
    /* left: 50%; */
    /* transform: translate(-50%, 0); */
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #1cd628;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}