.taskContainer {
    background-color: rgb(251, 245, 237, 0.8);
    margin-top: 50px;
    position: relative;
    backdrop-filter: blur(2px);
    flex-direction: column;
}

.taskHeader {
    position: relative;
    margin: 20px;
    font-size: xx-larger;
    font-weight: 600;
}

.newTaskInputContainer {
    justify-content: left;
    margin: 20px;
    display: flex;
    position: relative;
}

.taskInput {
    width: 300px;
    margin-right: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid green;
}

.taskInput:focus::placeholder {
    color: transparent;
}

.table {
    position: relative;
    margin: 20px;
}