@import url('https://fonts.cdnfonts.com/css/garuda');
@import url('https://fonts.cdnfonts.com/css/gloria-hallelujah');
.landing-background{
    background: url("../../../public/background3.png");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.button {
    background: -webkit-linear-gradient(left, #ecc2ff, #fff4a4); /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(left, #ecc2ff, #fff4a4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100px;
    color: white;
}

.button-text{
    color: white;
}

.title{
    font-family: 'GARUDA';
    font-size: 50px;
    background: -webkit-linear-gradient(left, #ecc2ff, #fff4a4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slogan{
    font-family: 'Gloria Hallelujah', sans-serif;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 50%;
    margin-top: 2%;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-right: 50%;
}

.main{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 70%;
    gap: 30px;
    color: white;
}

.header-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-right: 50%;
    /* margin-left: 5%; */
}

.header-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
