.garden-container {
  display: flex;
  flex: 1;
  max-width: 40%;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(5px);
  border: 2px solid green;
  border-radius: 30px;
  background-color: rgba(80, 80, 80, 0.586);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

.garden-container-title{
  margin-top: 1rem;
  color:white;
  font-weight: 300;
  font-size: 24px;
}

.plant-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.plant-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgb(219, 219, 219);
  border-radius: 7px 7px 7px 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.plant-card-image{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plant-card-image img{
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.plant-card-button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.plant-card-button-error p{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:red;
}

.tree-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 150px;
  margin-right: 20px;
  backdrop-filter: blur(10px);
  background-color: rgb(219, 219, 219);
  border-radius: 7px 7px 7px 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.plant-card:hover {
  background-color: rgb(184, 184, 184);
  box-shadow: rgb(38, 77, 58) 0px 20px 30px -10px;
}

.plant-tree-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 2rem;
  flex-grow: 1;
  gap: 2rem;
}

.plant-tree-form{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.plant-tree-back{
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.plant-tree-input-group{
  display: flex;
  flex-direction: column;
}

.plant-tree-submit{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}